################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/B/.vs/B
/.vs
/B/bin/Debug/netcoreapp3.1
/B/obj
bin
obj
bin
obj
obj
bin
/src/Infrastructure/obj
/src/Infrastructure/bin
obj
bin
obj
