@model Domain.FileStorage

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FileStorage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OriginFullPath" class="control-label"></label>
                <input asp-for="OriginFullPath" class="form-control" />
                <span asp-validation-for="OriginFullPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginFileName" class="control-label"></label>
                <input asp-for="OriginFileName" class="form-control" />
                <span asp-validation-for="OriginFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginFileExtension" class="control-label"></label>
                <input asp-for="OriginFileExtension" class="form-control" />
                <span asp-validation-for="OriginFileExtension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageFullPath" class="control-label"></label>
                <input asp-for="StorageFullPath" class="form-control" />
                <span asp-validation-for="StorageFullPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageFileName" class="control-label"></label>
                <input asp-for="StorageFileName" class="form-control" />
                <span asp-validation-for="StorageFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageFileExtension" class="control-label"></label>
                <input asp-for="StorageFileExtension" class="form-control" />
                <span asp-validation-for="StorageFileExtension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilePath" class="control-label"></label>
                <input asp-for="FilePath" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDisable" /> @Html.DisplayNameFor(model => model.IsDisable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UploadAt" class="control-label"></label>
                <input asp-for="UploadAt" class="form-control" />
                <span asp-validation-for="UploadAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedOn" class="control-label"></label>
                <input asp-for="LastModifiedOn" class="form-control" />
                <span asp-validation-for="LastModifiedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedBy" class="control-label"></label>
                <input asp-for="LastModifiedBy" class="form-control" />
                <span asp-validation-for="LastModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
